{% load static %}
<picture>
    <source srcset="{% static 'core/img/logo-escuro.webp' %}?v={{ versao_estaticos }}" type="image/webp">
    <img src="{% static 'core/img/logo-escuro.png' %}?v={{ versao_estaticos }}" alt="Cantinho Família" class="cf-logo cf-logo-escuro" width="720" height="180" decoding="async">
</picture>
<picture>
    <source srcset="{% static 'core/img/logo-claro.webp' %}?v={{ versao_estaticos }}" type="image/webp">
    <img src="{% static 'core/img/logo-claro.png' %}?v={{ versao_estaticos }}" alt="Cantinho Família" class="cf-logo cf-logo-claro" width="720" height="180" decoding="async">
</picture>
